body {
  margin: 0;
  padding: 0;
  background-color: #e3ded5;
  font-family: 'sans-serif';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container img {
  width: 100px;
  margin-bottom: 10px;
}

.title-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.input-box {
  margin-bottom: 20px;
  position: relative;
}

.input-box input {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.id-check-btn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}

.id-check-btn:hover {
  background-color: #555;
}

.login-btn {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  width: 85%;
}

.login-btn:hover {
  background-color: #555;
}

.signup-link {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.signup-link:hover {
  text-decoration: underline;
}
